/* styles.css */

body {
    font-family: Helvetica;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 18px 100px 100px;
}

.top-text {
    display: flex;
    /* justify-content: space-between; */
    /* padding: 50px; */
    /* padding-top: 10px; */
    
}

.top-left {
    font-size: 24px;
    color: #F9faf8;
    margin-right: auto;
}

.top-right {
    display: flex;
    /* margin-left: auto; */
    gap: 20px;
}

.top-right,
.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.container {
    padding-top: 50px;
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.button1 {
    background-color: #3882f6;
    padding: 10px 18px;
    margin-top: auto;
    /* display: flex; */
    align-self: flex-start;
    border-radius: 12px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    flex: 0 1 0;
}

.test-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 45px;
}

.images img {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    border-style: solid;
    border-color: #3882f6;
}

.images {
    display: flex;
    flex: auto;
    justify-content: center;
    padding: 50px;
    gap: 30px;
}

.image1, 
.image2, 
.image3,
.image4 {
    text-align: center;
    font-size: 12px;
}

.quote {
    background-color: #e5e7eb;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.nonsense {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.whotf {
    align-self: flex-end;
}

.Action {
    background-color: #3882f6;
    padding: 30px 40px;
    margin: 75px 100px;
    border-radius: 12px;
    display: flex;
    gap: 12px;
    flex: auto;
}

.actiontext {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.ItsTime {
    font-weight: bold;
    font-size: 24px;
}

.Join {
    font-size: 17px;
}

.button2 {
    background-color: #3882f6;
    border-style: solid;
    border-color: white;
    padding: 10px 18px;
    border-radius: 12px;
    margin-left: auto;
    color: white;
    align-self: center;
}

.footer {
    background-color: #1f2937;
    display: flex;
    padding: 25px;
    justify-content: center;
    align-items: center;
    color: white;
}