/* styles.css */

body {
    font-family: Helvetica;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 18px 100px 100px;
}

.top-text {
    display: flex;
    /* justify-content: space-between; */
    /* padding: 50px; */
    /* padding-top: 10px; */
    
}

.top-left {
    font-size: 24px;
    color: #F9faf8;
    margin-right: auto;
}

.top-right {
    display: flex;
    /* margin-left: auto; */
    gap: 20px;
}

.top-right,
.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.container {
    padding-top: 50px;
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.button1 {
    background-color: #3882f6;
    padding: 10px 18px;
    margin-top: auto;
    /* display: flex; */
    align-self: flex-start;
    border-radius: 12px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    flex: 0 1 0;
}